<div class="row d-flex justify-content-center" *ngIf="loading">
    <div class="spinner-grow text-primary spinner-color"></div>
    <div class="spinner-grow text-primary spinner-color"></div>
    <div class="spinner-grow text-primary spinner-color"></div>
</div>
<div class="row" *ngIf="!loading">
    <div class="col-lg-8 offset-lg-2">
        <div class="card" style="width: 25rem; margin: 0 auto;">
            <div class="card-body text-center">
                <h5 class="card-title">{{ name }}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Email: {{ email }}</li>
                    <li class="list-group-item">Género: {{ gender }}</li>
                </ul>
            </div>
            <button class="btn btn-primary btn-xl w-100" routerLink="/dashboard">Volver</button>
        </div>
    </div>
</div>